.header{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #525564;
  font-family: Verdana, Geneva, sans-serif;
}

.logo{
    background: url(../logo.png);
    width: 55px;
    height: 55px;
    background-size: cover;
}

.search-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  font-family: "Comic Sans MS", sans-serif;
  /* background-color: lightblue; */
  flex-wrap: wrap;
  /* border: 4px solid #ff00e9; */
  /* border-radius: 6px; */
}

.container{
  width: 60%;
  height: 400px;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(http://cloud.attackofthefanboy.com/wp-content/uploads/2015/04/RockoutRockBandSale.jpg?e88d5a);
  background-size: cover;
  border: 4px solid #ff00e9;
  border-radius: 6px;
  margin-top: 10px;
}

#search-form{
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  height: 93px;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
}

#form{
  text-align: center;
  width: 100%;
  height: 42px;
  font-size: 14px;
}

#query{
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  padding-right: 40px;
  width: 60%;
  margin: auto;
  height: 100%;
  font-size: 14px;
  padding-left: 5px;
  border: 1px solid gray;
  border-radius: 2px;
}

.artist-picture{
  background-size: cover;
  width: 64px;
  height: 64px;
  /* margin-left: 7px; */
  /* width: 50%; */
  border: 1px solid #9E9E9E;
  margin-right: 5px;
}

#search{
  padding: 0px 15px 0px 15px;
  background-color: #4cb0ff;
  border-bottom: 3px solid #2196F3;
  height: 100%;
  font-size: 14px;
  color: white;
  font-family: "Comic Sans MS", sans-serif;
  border-top: 0px solid;
  border-right: 0px solid;
  border-left: 0px solid;
  border-radius: 2px;
}
#search:hover {
    background: #4cc2f7;
}

#results{
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 15px; */
  /* margin-right: 15px; */
  width: 100%;
  height: 100%;
  /* flex-wrap: wrap; */
  overflow: scroll;
  background-color: #d8d4d4;
  /* border: 1px solid #9E9E9E; */
  /* border-top: 1px solid #9E9E9E; */
  /* border-right: 1px solid #9E9E9E; */
}
.artist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #9E9E9E;
}

.result-container{
  /* overflow: scroll; */
  height: 400px;
  width: 300px;
  border: 4px solid #ff00e9;
  border-radius: 6px;
  margin-top: 10px;
}


.artist-title{
  width: 65%;
  max-width: 200px;
  align-self: center;
  padding-left: 34px;
}
body{
  background-color: #96C0CE;
}
